profiles {
    local {
        process.executor = 'local'
        process.memory = '8 GB'
    }
    docker {
        docker.enabled = true
    }
}

process {
    withName: PCA_ANALYSIS {
        container = 'rocker/tidyverse:latest'
        memory = '8 GB'
        time = '30 min'
    }
    withName: PLOT_PCS {
        container = 'community.wave.seqera.io/library/r-ggplot2:2.2.1--07fc17cd3af11298'
        memory = '8 GB'
    }
}
